<<<<<<< HEAD
ion-grid{
    transform: translateY(10vh);
    ion-icon{
        font-size: 18rem;
    }
    ion-label{
        font-size: 2rem;
    }
=======
ion-grid{
    transform: translateY(10vh);
    ion-icon{
        font-size: 18rem;
    }
    ion-label{
        font-size: 2rem;
    }
>>>>>>> 6696688f7c9b5c348538fe38556b2ca217b986ae
}