<<<<<<< HEAD
ion-item{
    border: 1px solid black;
    ion-label{
        padding: 1.5vh 0;
        font-size: 1.2rem;
    }
=======
ion-item{
    border: 1px solid black;
    ion-label{
        padding: 1.5vh 0;
        font-size: 1.2rem;
    }
>>>>>>> 6696688f7c9b5c348538fe38556b2ca217b986ae
}